//Convert px to rem

@function rem($pixels, $context: 16) {
    @return ($pixels / $context) * 1rem;
}


//Set color

@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return var(--black-text);
    }

    @else {
        @return var(--white);
    }
}

@function set-title-color($color) {
    @if(lightness($color) > 50) {
        @return var(--dark-blue);
    }

    @else {
        @return var(--white);
    }
}

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);

    h1 {
        color: set-title-color($color);
    }
}